body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: "Inter", sans-serif;
  color: #fff;
}

/* MAIN LAYOUT */
.mainlabelWrap {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* SIDEBAR */
.aside {
  width: 240px;
  background: #0a0a0a;
  padding: 30px 20px;
  border-right: 1px solid #1c1c1c;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
}

.editorLogo {
  width: 200px;
}

.userHeading {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

.clientList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 10px;
}

.client {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #111;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #1f1f1f;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #6cd3ed;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}

/* BUTTONS */
.btn {
  background: #141414;
  border: 1px solid #2b2b2b;
  padding: 12px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #1f1f1f;
}

.leave {
  background: #6cd3ed;
  color: #000;
  border: none;
  font-weight: 700;
}

.leave:hover {
  background: #8fe9ff;
}

.btnGroup {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 20px;
}

/* EDITOR PAGE */
.editorPage {
  flex: 1;
  padding: 40px;
  background: #000;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.editorHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.languageSelect {
  background: #141414;
  padding: 12px 5px;
  border: 1px solid #2b2b2b;
  border-radius: 8px;
  color: white;
  font-size: 14px;
}

.editorMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 50vh;
  text-size-adjust: 155px;
}

.editorContainer {
  width: 100%;
  height: 100%;
}

.outputBox {
  width: 100%;
  height: 100%;
  background: #0f0f0f;
  border: 1px solid #1e1e1e;
  border-radius: 10px;
  overflow: auto;
}

.outputTitle {
  background: #141414;
  padding: 12px;
  font-weight: 600;
  border-bottom: 1px solid #1e1e1e;
}

.outputText {
  padding: 12px;
  font-size: 20px;
  white-space: pre-wrap;
  color: #dcdcdc;
  
}

.runButton {
  background: #6cd3ed;
  color: #000;
  border: none;
  padding: 14px 22px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  width: fit-content;
}

.runButton:hover {
  background: #8fe9ff;
}


.editorContainer {
  background: #0f0f0f;
  border: 1px solid #1e1e1e;
  border-radius: 10px;
  overflow: hidden; 
}

.editorContainer {
  background: #0f0f0f;
  border: 1px solid #1e1e1e;
  border-radius: 10px;
  overflow: hidden !important;
  position: relative;
}

