.layout {
    display: grid;
    grid-template-columns: 1fr 2fr minmax(400px, 1fr);
    height: 100vh;
    padding: 40px;
    background: black;
    color: white;
    align-items:start; 
}


.left {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.leftLogo {
  position: absolute;
  top: -30px;
  left: 20px;
  width: 220px;
  z-index: 999;
  font-size: 36px; 
  line-height: 1.1;
}

.leftLogo span {
  display: block;
  font-size: 14px; 
  opacity: 0.7;
}


.center {
  grid-column: 1 / 3;       
  justify-self: start;      
  text-align: left;
  padding-left: 120px;      
  margin-top: 0px;       
}

.heroTitle {
  font-size: 100px;
  font-weight: 859;
  line-height: 1.1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.heroSub {
  color: hwb(0 66% 31%);
  font-size: 28px;
  word-spacing: 3px;
  padding-bottom: -10cm;
  letter-spacing: 1.3px;
  font-style: initial;
  line-height: 1.3;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; 
    min-width: 420px;
    position: relative; 
}
.formwrapper {
    position: absolute;
    background: #141414;
    padding: 32px;
    border-radius: 12px;
    width: 420px;
    border: 1px solid #2b2b2b;
    
    
    top: 150px;
    right: 10%; 
    
    transform: translateY(-40px);
}

.inputgroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputbox {
  padding: 12px;
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  color: white;
}

.joinbtn {
  width: 100%;
  background: #6cd3ed;
  padding: 12px 0;
  border-radius: 8px;
  border: none;
  color: #000;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}

.joinbtn:hover {
  background: #8fe9ff;
}

.joinbtn {
  background: #6cd3ed !important;
  color: #000 !important;
  border: none !important;
}


.createNewBtn {
  color: #33edfa;
  text-decoration: none;
}

.footer {
  background: #000;
  padding: 18px;
  text-align: center;
  color: #fff;
}

.footer h4 {
  margin: 0;
  font-weight: 400;
}

.footer a {
  color: #6cd3ed;
  font-weight: 600;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
